body {
	background-color: #000;
}

.title {
	text-align: center;
	color: white;
	font-family: verdana;
}

.text {
	text-align: center;
	color: white;
	font-family: verdana;
	padding-bottom: 20px;
}

.middle {
	text-align: center;
}

.colorbox {
	padding: 20px;
	background-color: #333;
	height: 340px;
	width: 400px;
	margin: 100 auto;
}

.toggle {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
	display:inline-block;
	text-align: center;
}

.toggle label {
    float:left;
    width:2.0em;
}

.toggle label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    cursor: pointer;
}

.toggle label input {
    position:absolute;
    top:-20px;
}
#on:checked + span {
	background-color: grey;
}
#off:checked + span {
	background-color: grey;
}