@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,h2 {
  font-family: 'Holtwood One SC', serif;
  color:white;
}

h3,h4 {
  color:white;
}

body {
  background: #111;
  font-family: "Times New Roman", Times, serif;
}

.screen {
  width: 600px;
  height: 380px;
  border:10px solid rgb(80,80,80);
  background: #333;
  padding: 10px;
  margin: 0px auto;
  border-radius:10px 10px 0 0;
}

.intensity{
  width: 150px;
  margin: 0 auto;
}

.blink{
  width: 150px;
  margin: 0 auto;
}

.body {
  width: 720px;
  height: 20px;
  background: rgb(200,200,200);
  margin: 0px auto;
  border-radius: 0px 0px 13px 13px;
  position: relative;
}

.body:before {
  content:"";
  position: absolute;
  right: 325px;
  height: 8px;
  width: 70px;
  background: rgba(0,0,0,.2);
  border-radius: 0 0 5px 5px;
}

.middle {
	text-align: center;
}



.toggle {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:0;
    border:0;
    overflow:auto;
	display:inline-block;
	text-align: center;
}

.toggle label {
    float:left;
    width:2.2em;
}

.toggle label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    cursor: pointer;
}

.toggle label input {
    position:absolute;
    top:-20px;
}

#on:checked + span {
	background-color: #006902;
	color: white;
}

#off:checked + span {
	background-color: #690000;
	color: white;
}

/*.rainbow {
	color: #fff;
}

#rainbow {
	margin-right: 8px;
}

.butt {
	padding: 6px;
  background-color:#EFEFEF;
  border-radius:0;
  border:0;
  overflow:auto;
	display:inline-block;
	text-align: center;
}
}

.butt:hover, .butt.hover {
	background-color: #fff;
}

.butt:active, .butt.active {
	background-color: #d0d3d6;
}
*/
small {
  color: black;
}

.bg {
  background-color: white;
  width: 80px;
  margin-bottom: 8px;
}
